<html>
  <head>
    <title>Index of {{ path }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link href="/static/bootstrap.min.css" rel="stylesheet">     -->
    <style>
      table.fixed-width {
        font-family: 'Andale Mono', AndaleMono, monospace;
        font-size: 11.5px;
        vertical-align: bottom;
      }
      a, a:link, a:visited, a:hover, a:active {
        color: #333333;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1 id="h1-title"><a href="/">Index of {{ path }}</a></h1>
      </div>
      <div class="row">
        <p><a href="{{ flush_url }}">Flush page cache.</a></p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover table-condensed fixed-width" style="display: table; white-space: nowrap;">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date Modified</th>
                <th>Size</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
            {% if path != "/" %}
              {# Don't display "../" at the root dir #}
              <tr>
                <td>
                  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;
                  <a href="../">..</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            {% endif %}
            {% for entity in entities %}
            <tr>
              <td>
                {% if entity.dir %}
                  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;
                {% else %}
                  <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;
                {% endif %}
                <a href="{{ entity.url }}">{{ entity.name }}</a>
              </td>
              <td class="dt">{{ entity.last_modified }}</td>
              <td>{{ entity.size }}</td>
              <td>{{ entity.ext }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
<!--
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.11/moment-timezone-with-data.min.js"></script>
 -->
    <script type="text/javascript" src="/static/moment.min.js"></script>
    <script type="text/javascript" src="/static/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript">
      var times = document.getElementsByClassName("dt");
      var dt_utc;
      var dt_local;
      moment.locale('en');
      for (var i = 0; i < times.length; i++) {
        if (times[i].innerHTML) {
          dt_utc = moment.tz(times[i].innerHTML, "ddd DD-MMM-YY HH:mm:ss ZZ", "Etc/UTC");
          dt_local = dt_utc.clone().tz(moment.tz.guess())
          times[i].innerHTML = dt_local.format("ddd DD-MMM-YY HH:mm:ss z");
        }
      }
    </script>
  </body>
</html>
