<html>
  <head>
    <title>Index of {{ path }}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      table.fixed-width {
        font-family: 'Andale Mono', AndaleMono, monospace;
        font-size: 11.5px;
        vertical-align: bottom;
      }
    </style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1 id="h1-title">Index of {{ path }}</h1>
      </div>
      <div class="row">
        <p>Click <a href="{{ flush_url }}">here</a> to flush the page cache.</p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover table-condensed fixed-width" style="display: table; white-space: nowrap;">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date Modified</th>
                <th>Size</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
            {% if path != "/" %}
              {# Don't display "../" at the root dir #}
              <tr>
                <td>
                  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;
                  <a href="../">..</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            {% endif %}
            {% for entity in entities %}
            <tr>
              <td>
                {% if entity.dir %}
                  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;
                {% else %}
                  <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;
                {% endif %}
                <a href="{{ entity.url }}">{{ entity.name }}</a>
              </td>
              <td>{{ entity.last_modified }}</td>
              <td>{{ entity.size }}</td>
              <td>{{ entity.ext }} </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
</body></html>